// Place all the styles related to the Reader::BookHistories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-font{
  font-style: italic;
  font-family: Georgia,Times New Roman,Times,serif;
 }
 h4{
 margin-top:2%;
 }
 table{
  background-color:white;
 }