<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h4>Добавить новый экземпляр выбранной книги: </h4>

<h5>Название:"<%= @book.name   %>" </h5>
<h5>Автор:<%= @book.author %> </h4>


<%= button_to 'Создать новый экземпляр',admin_book_book_items_path(@book), class:"btn btn-outline-primary" %>  


