
<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<p></p>

<h4>Просмотр выбранной категории книг: </h4>
<p></p>
<p>Наименование категории: <%= @book_type.name  %></p>
<p></p>



<div class="align-btn">
<%= link_to "Редактирование",edit_admin_book_type_path(@book_type), class:"btn btn-outline-primary" %>
</div>