// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4{
  color: #0101DF;
  font-family: 'Lobster', cursive;
  text-align:left;
}

h3{
  font-family: 'Lobster', cursive;
  color:#8A084B;
  text-align:left;
}

.card{
  background-image: linear-gradient(to bottom,#CEF6F5,#FADADD);
}

table, h5,p,.form-group, .actions{
 font-style: italic;
 font-family: Georgia,Times New Roman,Times,serif;
 }

.align-btn{
  margin-top:2%;
  margin-bottom:2%;
}

.form-naob{
  background-image: linear-gradient(to bottom,#CEF6EC, #FADADD);

}
