/*.,,,
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 

/*.container img{
    width: 100%;
    position: absolute;
 }*/


body{
  background:url(Fon.jpg);

}

.form_sign{
  margin: 7%;
  padding: 7%;
  border: 1px solid grey;
  text-align: center;
  border-radius: 2%;
  box-shadow: 6px 6px #989898, 12px 12px #6c6666; 
}
.form_sign h2{
  color: blue;
}

.form-group{
text-align: left;
}

.container h3 {
  color: #6f42c1;
}
/*.navbar {
  position: relative;
  display: flex;
}*/
img{
    max-width: 100%;
    height: auto;
 }