// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album .card-body{
  border: 1px solid blue;
  border-radius: 3%;
  background:LavenderBlush;
  padding:2%;
  text-align:center;
  font-style: italic;
  font-family: Georgia,Times New Roman,Times,serif;
}
.album .card1-img1-top1{
 // flex: 0 0 auto;
 padding: 2em;
}
.album .card-group{
  margin-bottom: 2em;
}
h4{
  color:#0101DF;
  font-family: 'Lobster', cursive;
}
h3{
 color: #8A084B;
}

